.profileTitle{
  color:#037367;
  margin: 5rem 0;
  font-size:40px;
  text-align:"center" !important;
 }
 .profiles{
  display:flex;
 flex-wrap: wrap;
 justify-content: center;
 padding: 30px;
 /* flex-direction: row; */
 }
 .profile {
  width: 30%;
  height:400px;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
 margin: 1rem ;
 text-align:center;
 border-bottom: 2px solid #037367 ;
 background:  linear-gradient(to top, white 0%, #cdf3ef 100%);
 /* border-radius: 0.5rem; */
 }
 .profilImg{
  border-radius: 50%;
  /* margin-top: -50px; */
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  /* box-shadow: 5px 10px #ece7e7; */
}

.userName{
color:#037367;
line-height:10px;
margin:2rem 0 0;
font-size:20px;
}
.userAdress{
display:flex;
line-height:10px;
font-size:15px;
margin:0
}
.adress{
  display:flex !important;
  margin-top:30px;
  /* flex-direction: column;
  flex-wrap:nowrap; */
 }
 .job{
  display:flex !important;
 }
 .userJob{
  line-height:10px;
  padding:3px 0 0 10px ;
  font-size:15px;
 }
 .btnProfile{
  width: 70%;
    height: 10%;
  border-radius: 0.5rem;
  background-color:#037367;
  border: 1px solid white;
  color:white;
  margin-top: 3rem;
 }