/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */

.container {
  /* max-width: 1100px; */
  margin: auto;
  overflow: hidden;
  /* padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem; */
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 50px;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}


.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Landing Page */
.landing {
  position: relative;
 
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Profiles Page */
/* .profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
} */

/* Profile Page */
/* .profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu'
    'github github';
  grid-gap: 1rem;
} */

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
.post-form{
  margin: -2% 30%;

}
.post-form .post-form-header {
  
  background: var(--primary-color);
  padding: 0.5rem;
}
.contanComm{
  display: flex;
    flex-direction: column;
    align-self: center;
    margin: 3px 30%;
    max-width: 620px;
    padding-bottom: 10px;
    background-color: azure;
    -webkit-box-shadow: 0px 0px 19px -3px rgba(97,97,97,0.34);
    -moz-box-shadow: 0px 0px 19px -3px rgba(97,97,97,0.34);
    border-radius: 10px;
    box-shadow: 0px 0px 33px 2px rgba(97,97,97,0.34);

}

.commUser{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post {
  display: flex;
  flex-direction:column;
  /* margin: 0 20%; */
  /* align-items: center; */
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}


/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }
 
  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu'
      'github';
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}


.navbar{background:#037367; z-index: 5; height: 58px;}
.nav-item::after{content:'';display:block;width:0px;height:2px;background:rgb(199, 183, 111);transition: 0.2s;color:#BEA42E!important;}
.navbar-brand:hover{color:#fec400 !important; }
.nav-item:hover::after{width:100%;}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:#BEA42E!important;}
.nav-link{padding:15px 5px;transition:0.2s;font-size: 17px;}
.nav-link:hover{color:#fec400 !important; font-size: 20px;}
.logos:hover{color:#fec400 !important;}




/* ///// home pagee */
@keyframes slider {
  0% {
      left: 0;
  }
  
  20% {
      left: 0;
  }
  
  25% {
      left: -100%;
  }
  
  45% {
      left: -100%;
  
  }
  
  50% {
          left: -200%;
  
  }
  
  70% {
      left: -200%;
  }
  
  75% {
      left: -300%;
  }
  
  95% {
      left: -300%;
  }
  
  100% {
      left: -400%;
  
  }
  
  }
  
  .slideContainer {
      overflow: hidden;
      max-height: 93vh;
  }
  
  .slideContainer figure img {
      width: 20%;
      float: left;
  }
  
  .slideContainer figure {
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 15s slider infinite; 
      /* max-height:100vh; */
  
  }
  .slideContainer{
      position:relative
  }
  .slogan{
      position: absolute;
      z-index: 2;
      top:20%;
       left:10%;
      color: whitesmoke ;
      /* background-color: blanchedalmond;
      opacity: 0.5; */
      /* margin-left:200px; */
      font-size:50px !important;
      /* max-width: 350px; */
      /* line-height: 80px!important; */
  
  }
  .slider img{
      /* height:80%; */
      width:100%;
      box-sizing:border-box;
      z-index:-1;
     
  }
 
  svg {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
    }
    .container {
      /* display: inline-block; */
      position: relative;
      width: 100%;
      /* padding-bottom: 100%; */
      vertical-align: middle;
      overflow: hidden;
    }
    .wave{
        position:absolute;
        width:100%;
        bottom:0;
        left:0;
        height:143px;
        background:url("./components/layout/wave.png"); 
        z-index:1;
     
    }
    .title2{
      font-size: 36px;
      line-height: 40px;
      letter-spacing: -0.32px;
      font-weight: bold;
  text-transform: none;
  color: #00281f;
  text-align: center ;
   /* margin-top:20px;  */
   }
.bodySlider{
  display: flex;
  justify-content: space-between;
  margin:60px 150px;
}
.title3{
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.2px;
  font-weight: bold;
  color: #00281f;
  margin-top:"20px"
 
}
.joinCommunity{
  /* background: url("") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:500px; */
  width: 100%;
  height: 500px;
  background-image: url("http://www.visitplovdiv.com//sites/default/files/Travel-and-Tours.jpg");
  background-repeat: no-repeat;
  background-size: 100%; 
}
.title4{
  font-size: 40px;
      line-height: 40px;
      letter-spacing: -0.32px;
      font-weight: bold;
  text-transform: none;
  color: #00281f;
  text-align: center ;
   padding-top:120px; 
   opacity:0.8;
}

p{
  
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #00281f;
  text-align: center ;
  padding-top: 30px;
  padding-bottom: 20px;
}

 
.btnx {
  
  width: 300px !important;
  height: 70px !important;
  padding: 0 30px;
  /* min-width: 48px;
  min-height: auto; */
  font-size:20px !important;
  color: white!important;
  /* font-weight:bold !important; */
  border-radius: 24%;
  background-color: #037367!important;
  margin: 10px 0 !important;
 
}
.btnx:hover {
      background-color: #00281f;
     opacity: 0.9;
  }
.discover{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.travelImages{
   display:flex ;
   justify-content: space-between;
   flex-wrap: wrap;
   /* margin:30px 120px; */

} 
.travelImg{
   width:400px;
   height:250px;
   /* margin-bottom: 50px; */
   margin: 15px;
}  
.signup{
  margin-top: 10px;
   height:300px;
   background-color: #037367;
   display: flex;
flex-direction: column;
align-items: center;
}
.signup h2{
  font-size: 36px;
  line-height: 40px;
  /* letter-spacing: -0.32px; */
/* display: flex;
justify-content: center; */
  color: rgb(255, 255, 255);
  text-align:"center" !important;
  padding:30px ;
}
.signup p{
  
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
  padding:0 50px;
  margin:10px; 

  
  /* text-align:"center" !important; */
}
.btny {
  
  width: 300px !important;
  height: 70px !important;
  padding: 0 30px;
  /* min-width: 48px;
  min-height: auto; */
  font-size:20px !important;
  color: #00281f!important;
  /* font-weight:bold !important; */
  border-radius: 24%;
/* margin-left:640px !important; */
margin-top: 10px !important;
  background-color: white!important;

 
 
}
.footSection{
  display:flex;
  flex-direction:column;
   border-bottom: 2px solid #037367 ;
}
.footer{
   display:flex;
   justify-content: space-between;
   padding:40px 200px 20px;
  
}   
.socialsec{
   display:flex;
   justify-content: space-between;
   margin-bottom:20px;
}
.titleSection{
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  font-weight: bold;
  margin-bottom: 16px;
}
.itemSection{
  font-weight: normal;
  cursor: pointer;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 20px;
}
.navbarRight{
  align-items: center;
    display: flex;
}



/* posts */

.Contan{
  display:flex;
  flex-direction:column;
  align-self: center;
  margin: 30px 30%;
 max-width:620px ;
  padding-bottom: 10px;
  background-color: azure;

-webkit-box-shadow: 0px 0px 19px -3px rgba(97,97,97,0.34);
-moz-box-shadow: 0px 0px 19px -3px rgba(97,97,97,0.34);
border-radius: 10px;
box-shadow: 0px 0px 33px 2px rgba(97,97,97,0.34);
}

.round-imgr{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.textConta{
  display: flex;
}
.userConta{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.postP{
  padding: 3px;
  align-self: flex-end;
  font-size: 11px !important;
}
.postP2{
  font-size: 20px !important;
  align-self: flex-start;
  /* font-size: 11px !important; */
}
.postImg{
  border-radius: 10px;
  margin-bottom: 30px;
}
 .xBtn{
   width: 60px !important;
  
    
  }
  .btnContX{
    display: flex !important;
    justify-content: flex-end !important;
    padding-right: 15px;
  }
  .textComm{
    max-height: 50px !important;
  }
  .discComm{
    height: 48px !important;
    background-color: #1c8176!important;
    color: #fff;
  }
  .postContai{
    margin-bottom: 70px;
  }
  .subComm{
    margin-bottom: 100px !important;
  }